!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.DS_Store
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.rb
*.sh
*.xccheckout
*.xcconfig
*.xcscmblueprint
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.build/
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.idea/
.LSOverride
.Spotlight-V100
.swiftpm/
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vscode/
/*.xcodeproj
/.build
/Packages
build/
DerivedData/
docs/
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
Gemfile*
Icon
Network Trash Folder
Packages
playground.xcworkspace
Temporary Items
timeline.xctimeline
xcuserdata
xcuserdata/Package.resolveddocs/
conductor/tracks*
conductor
