name: WASM

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  wasm:
    name: WASM (Swift ${{ matrix.config.version }})
    runs-on: ubuntu-latest
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        config:
          - version: 6.1.3
            checksum: 7a741da46ce64cdbd6dd504a2617b211b88e7f66a9ada7ea4e55bcc9c06ff2b2
          - version: 6.2.3
            checksum: 394040ecd5260e68bb02f6c20aeede733b9b90702c2204e178f3e42413edad2a
        build:
          - release

    steps:
      - uses: actions/checkout@v6
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.config.version }} # 6.2.1
      - uses: bytecodealliance/actions/wasmtime/setup@v1
      - name: Install Swift SDK
        run: swift sdk install https://download.swift.org/swift-${{ matrix.config.version }}-release/wasm-sdk/swift-${{ matrix.config.version }}-RELEASE/swift-${{ matrix.config.version }}-RELEASE_wasm.artifactbundle.tar.gz --checksum ${{ matrix.config.checksum }}
      - name: Test
        # working-directory: tests/swift/Wasm.tests
        run: |
          swift sdk list
          swift build --build-tests -c ${{ matrix.build }} --swift-sdk swift-${{ matrix.config.version }}-RELEASE_wasm
          wasmtime --dir . .build/wasm32-unknown-wasip1/${{ matrix.build }}/FirebladeECSPackageTests.xctest --testing-library swift-testing
