name: Windows

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  windows:
    name: Windows (Swift ${{ matrix.swift }})
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        swift: ["6.1", "6.2"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test Windows
        uses: brightdigit/swift-build@v1.5.0
        with:
          windows-swift-version: swift-${{ matrix.swift }}-release
          windows-swift-build: ${{ matrix.swift }}-RELEASE
          scheme: FirebladeECS
          # args: swift test -c release --parallel -Xswiftc -warnings-as-errors
