name: Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

defaults:
  run: # Use powershell because bash is not supported: https://github.com/compnerd/gha-setup-swift/issues/18#issuecomment-1705524890
    shell: pwsh

jobs:
  windows:
    runs-on: windows-2019 # Windows SDK lower than 10.0.26100 is needed until https://github.com/swiftlang/swift/pull/79751 released!
    steps:

      - name: Setup VS Dev Environment
        uses: seanmiddleditch/gha-setup-vsdevenv@v5

      - name: Setup
        uses: compnerd/gha-setup-swift@v0.3.0
        with:
          branch: swift-6.1-release
          tag: 6.1-RELEASE

      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        run: swift test -c release --parallel --xunit-output .build/xUnit-output.xml

      - name: Upload test artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-artifacts-windows-${{ github.run_id }}
          path: |
            .build/*.yaml
            .build/*.xml
            .build/*.json
            .build/*.txt
            .build/**/*.xctest
            .build/**/*.json
            .build/**/*.txt
          if-no-files-found: warn
          include-hidden-files: true
