name: WASM

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  wasm:
    name: WASM (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    timeout-minutes: 30
    container:
      image: swift:${{ matrix.swift }}

    strategy:
      fail-fast: false
      matrix:
        swift: ["6.1"]
        config: ["release"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Swift ${{ matrix.swift }} WASM SDK
        id: setup-swiftwasm
        uses: swiftwasm/setup-swiftwasm@v2
        with:
          tag: swift-${{ matrix.swift }}-RELEASE
          target: wasm32-unknown-wasi

      - name: Swift Version
        run: |
          which -a swift 
          swift --version

      - name: Swift SDK List
        run: swift sdk list

      - name: Setup wasmtime
        uses: bytecodealliance/actions/wasmtime/setup@v1
        with:
          version: 41.0.3
      - name: Setup Wasm Runtime
        uses: wasmerio/setup-wasmer@v3
        with:
          version: "v7.0.1"

      - name: Build
        run: |
          swift build -c ${{ matrix.config }} --swift-sdk ${{ steps.setup-swiftwasm.outputs.swift-sdk-id }} --static-swift-stdlib

      - name: Build & Run Tests
        run: |
          # <https://github.com/swiftlang/swift-testing/blob/main/Documentation/WASI.md>
          swift build -c ${{ matrix.config }} --build-tests -Xswiftc -enable-testing --experimental-swift-sdk ${{ steps.setup-swiftwasm.outputs.swift-sdk-id }} --static-swift-stdlib
          wasmtime --dir . .build/${{ matrix.config }}/FirebladeECSPackageTests.wasm --testing-library swift-testing
