name: WASM

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUN_TESTS: true

jobs:
  wasm:
    name: WASM (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    timeout-minutes: 30
    container:
      image: swift:${{ matrix.swift }}
    strategy:
      fail-fast: false
      matrix:
        swift: ["6.1"]
        config: ["release"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Swift ${{ matrix.swift }} WASM SDK
        id: setup-swiftwasm
        uses: swiftwasm/setup-swiftwasm@v2
        with:
          tag: swift-${{ matrix.swift }}-RELEASE
          target: wasm32-unknown-wasi

      - name: Install dependencies
        run: |
          apt-get update && apt-get install --yes xz-utils --no-install-recommends
      - name: Setup wasmtime
        uses: bytecodealliance/actions/wasmtime/setup@v1
        with:
          version: 41.0.3

      - name: Build & Run Tests
        run: |
          swift build -c ${{ matrix.config }} --build-tests --swift-sdk ${{ steps.setup-swiftwasm.outputs.swift-sdk-id }} -Xswiftc -enable-testing
          wasmtime --dir . .build/${{ matrix.config }}/FirebladeECSPackageTests.xctest
