name: WASM

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUN_TESTS: true

jobs:
  wasm:
    name: WASM (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    timeout-minutes: 30
    container:
      image: swift:${{ matrix.swift }}
    strategy:
      fail-fast: false
      matrix:
        swift: ["6.1", "6.2"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Swift ${{ matrix.swift }} WASM SDK
        id: setup-swiftwasm
        uses: swiftwasm/setup-swiftwasm@v2
        with:
          tag: swift-${{ matrix.swift }}-RELEASE
          target: wasm32-unknown-wasi

      - name: Install dependencies
        run: |
          apt-get update && apt-get install --yes xz-utils --no-install-recommends
      - name: Setup wasmtime
        uses: bytecodealliance/actions/wasmtime/setup@v1

      - name: Run `wasmtime version`
        run: "wasmtime --version"

      - name: Build Tests
        run: |
          SWIFTPM_ENABLE_PLUGINS=0 SWIFTPM_ENABLE_MACROS=0 swift build -c release --build-tests -Xswiftc -enable-testing --swift-sdk ${{ steps.setup-swiftwasm.outputs.swift-sdk-id }} --static-swift-stdlib

      - name: Build dir structure
        run: |
          find .build/ -name "*.wasm"

      - name: Run Tests
        run: |
          wasmtime --dir . .build/release/FirebladeECSPackageTests.wasm
