name: WASM

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  wasm:
    name: WASM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Install SwiftWASM
        run: |
          # Install dependencies
          sudo apt-get update && sudo apt-get install -y curl libncurses5
          
          # Download SwiftWASM 6.0
          curl -L https://github.com/swiftwasm/swift/releases/download/swift-wasm-6.0.0-RELEASE/swift-wasm-6.0.0-RELEASE-ubuntu22.04_x86_64.tar.gz -o swift-wasm.tar.gz
          tar -xzf swift-wasm.tar.gz
          
          # Add to PATH
          export PATH=$PWD/swift-wasm-6.0.0-RELEASE-ubuntu22.04_x86_64/usr/bin:$PATH
          
          # Build
          swift build --swift-sdk wasm32-unknown-wasi
