name: WASM

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  wasm:
    name: WASM (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        swift: ["6.0"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Setup SwiftWASM
        uses: swiftwasm/setup-swiftwasm@v2
        with:
          swift-version: ${{ matrix.swift }}
        
      - name: Build WASM
        run: swift build --swift-sdk wasm32-unknown-wasi
